.menuPane {
    -fx-background-image: url("../images/banner_background.png");
    -fx-background-size: stretch;
}

.gamePane {
    -fx-background-image: url("../images/parquet_background.jpg");
    -fx-background-size: stretch;
}

.playButton {
    -fx-background-image: url("../images/buttons/play_button_img.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.okButton {
    -fx-background-image: url("../images/buttons/ok_button_img.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.exitButton {
    -fx-background-image: url("../images/buttons/exit_button_img.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.ipLabel {
    -fx-background-image: url("../images/labels/ip_label.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.loginLabel {
    -fx-background-image: url("../images/labels/login_label.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.selectNPlayerLabel {
    -fx-background-image: url("../images/labels/select_nplayer_label.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.winLabel {
    -fx-background-image: url("../images/labels/win_label.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}