.rootPane {
    -fx-background-image: url("../images/banner_background.png");
    -fx-background-size: stretch;
}

.playButton {
    -fx-background-image: url("../images/page_button.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
        -fx-background-color: transparent;
}

.exitButton {
    -fx-background-image: url("../images/page_button.png");
    -fx-background-size: stretch;
    -fx-border-color: transparent;
        -fx-background-color: transparent;
}